
{% extends "base_auth.html" %}   
{% block title %}
Page de connexion
{% endblock %}
{% block content %}
    

        <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
            <aside class="relative block h-1/2 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6">
                <img alt="Pattern"
                    src="https://images.unsplash.com/photo-1605106702734-205df224ecce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                    class="absolute inset-0 h-full w-full object-cover" />
            </aside>

            <main
                class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6 bg-gray-100">
                <div class="max-w-xl lg:max-w-3xl">
                        
                    <h1 class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">
                         Bienvenu sur G-PARC <span class="text-orange-400">&#x1F434;</span>
                    </h1>

                    <form method="POST" class="mt-8 grid grid-cols-6 gap-6">
                        <div class="col-span-6">
                            <label for="nom_utilisateur" class="block text-sm font-medium text-gray-700">
                                Nom utilisateur
                            </label>

                            <input type="text" id="nom_utilisateur" name="nom_utilisateur"
                                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm h-8" />
                        </div>

                        <div class="col-span-6">
                            <label for="mot_de_passe" class="block text-sm font-medium text-gray-700">
                                Mot de passe
                            </label>

                            <input type="password" id="mot_de_passe" name="mot_de_passe"
                                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm h-8" />
                        </div>

                        <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
                            <button
                                class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
                                type="submit">
                                Connexion
                            </button>

                            <!-- <p class="mt-4 text-sm text-gray-500 sm:mt-0">
                                Vous êtes un nouvel administrateur ?
                                <a href="/auth/signup" class="text-gray-700 underline"> Inscrivez-vous</a>.
                            </p> -->
                        </div>
                    </form>
                </div>
            </main>
        </div>
{% endblock %}