{% extends "base_admin.html" %}
{% block title %}
Ajouter un service
{% endblock %}
{% block content %}
<div class="container mx-auto p-6"> 
<h1 class="text-3xl font-bold" >Ajouter un service</h1>

<div class="mx-auto mt-6 p-12 border border-gray-300 shadow-xl rounded-xl">
    <form method="POST" class="w-full">
        <div >
            <label for="nom" class="block mb-2 text-sm font-medium text-gray-900">Service : </label>
            <input type="text" id="nom" name="nom" aria-describedby="helper-text-explanation"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:placeholder-gray-400 text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Production décès">
            <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">Pour faciliter la
                gestion
                nous n'utiliserons que le nom du Service.</p>
        </div>
        <div class="flex justify-end"> 
            <button type="submit"
            class="group relative inline-block text-sm font-medium text-orange-600 focus:outline-none focus:ring active:text-orange-500">
            <span
                class="absolute inset-0 translate-x-0 translate-y-0 bg-orange-600 transition-transform group-hover:translate-y-0.5 group-hover:translate-x-0.5"></span>
            <span class="relative block border border-current bg-white px-8 py-3">
                Ajouter
            </span>
        </button>
    </div>
       
    </form>
</div>
</div>



{% endblock %}