{% extends "base_admin.html" %}
{% block title %}
Logiciels
{% endblock %}
{% block content %}
<div class="p-10">
    <h1 class="text-4xl font-bold" >Liste des licences</h1><br/>
    <div class="w-4/5 flex justify-start">
        <button
            class="mb-2 shadow-xl block text-white bg-orange-600 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
            type="button" onclick="openModal()"><span class="">+</span> Ajouter une licence</button>
    </div>
    <div class="bg-white  p-10 rounded-xl border border-gray-300 shadow-xl overflow-x-auto">
        <table id="myTable" class="display">
            <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Version</th>
                <th>Début</th>
                <th>Expiration</th>
                <th>Actions</th>
            </thead>
            
            <tbody>
                {% for lic in data %}
                <tr>
                    <td align="center">{{loop.index}}</td>
                    <td align="center">{{ lic.nom }}</td>
                    <td align="center">{{ lic.key }}</td>
                    <td align="center">{{ lic.date_debut }}</td>
                    <td align="center">{{ lic.date_fin }}</td>
                    
                    
                    <td align="center"><a
                            class="focus:outline-none text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-900"
                            href="/admin/update&licence/{{lic.id}}">
                            Modifier
                        </a>
                    <a
                            class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                            href="/admin/delete&licence/{{lic.id}}">
                            Supprimer
                        </a>
                    </td>
                </tr>
                 {% endfor %}
            </tbody>
           
        </table>
    </div>

</div>
<div class="modal hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="modal-content bg-white rounded-lg p-6 w-1/2">
        <form method="POST" action="/admin/add&licence" class="w-full">
            <div>
                <label for="licence" class="block mb-2 text-sm font-medium text-gray-900">Nom : </label>
                <input type="text" id="licence" name="nom"
                    class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 text-black"
                    placeholder="Kapersky, ..." required>
            </div>
            <div>
                <label for="key" class="block mb-2 text-sm font-medium text-gray-900">Version : </label>
                <input type="text" id="key" name="key"
                    class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 text-black"
                    placeholder="1.0" required>
            </div>
            <div>
                <label for="date_debut" class="block mb-2 text-sm font-medium text-gray-900">Début : </label>
                <input type="date" id="date_debut" name="date_debut"
                    class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 text-black"
                    required>
            </div>
            <div>
                <label for="date_fin" class="block mb-2 text-sm font-medium text-gray-900">Fin : </label>
                <input type="date" id="date_fin" name="date_fin"
                    class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 text-black"
                    required>
            </div>
            <div class="flex justify-end m-4">
                <button type="submit"
                    class="group relative inline-block text-sm font-medium text-orange-600 focus:outline-none focus:ring active:text-orange-500">
                    <span
                        class="absolute inset-0 translate-x-0 translate-y-0 bg-orange-600 transition-transform group-hover:translate-y-0.5 group-hover:translate-x-0.5"></span>
                    <span class="relative block border border-current bg-white px-8 py-3">
                        Soumettre
                    </span>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}