{% extends "base_admin.html" %}
{% block title %}
Modifier Périphérique 
{% endblock %}
{% block content %}
<div class="container mx-auto p-10">
    <div class=" bg-white rounded-lg p-6 ">
        <form method="POST" action="/admin/add&peripherique" class="w-full">
            <input type="hidden" name="id" value="{{user.id}}">
            <div>
                <label for="nom" class="block mb-2 text-sm font-medium text-gray-900">Nom : </label>
                <input type="text" id="nom" name="nom" value="{{data.nom}}"
                    class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 text-black"
                    placeholder="Souris, Clavier, ..." required>
            </div>
            <div class="mb-4">
                <label for="marque_id" class="block mb-2">Marque :</label>
                <select id="marque_id" name="marque_id" required value="{{data.nom}}"
                    class="w-full px-3 py-2 border rounded-md placeholder-gray-400 focus:outline-none focus:ring focus:border-blue-300">
                    <option value="" disabled selected>Choisir une marque</option>
                    {% for marque in data2 %}
                    <option value={{marque.id}}>{{marque.nom}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-4">
                <label for="type_id" class="block mb-2">Type :</label>
                <select id="type_id" name="type_id" required
                    class="w-full px-3 py-2 border rounded-md placeholder-gray-400 focus:outline-none focus:ring focus:border-blue-300">
                    <option value="" disabled selected>Choisir un type</option>
                    {% for type in data3 %}
                    <option value={{type.id}}>{{type.nom}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="model" class="block mb-2 text-sm font-medium text-gray-900">Modèle : </label>
                <input type="text" id="model" name="model"
                    class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 text-black"
                    required>
            </div>
            <div>
                <label for="no_serie" class="block mb-2 text-sm font-medium text-gray-900">Numéro de série : </label>
                <input type="text" id="no_serie" name="no_serie"
                    class="bg-gray-50 mb-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 text-black"
                    required>
            </div>
            <div class="flex justify-end m-4">
                <button type="submit"
                    class="group relative inline-block text-sm font-medium text-orange-600 focus:outline-none focus:ring active:text-orange-500">
                    <span
                        class="absolute inset-0 translate-x-0 translate-y-0 bg-orange-600 transition-transform group-hover:translate-y-0.5 group-hover:translate-x-0.5"></span>
                    <span class="relative block border border-current bg-white px-8 py-3">
                        Soumettre
                    </span>
                </button>
            </div>
        </form>
    </div>


</div>
{% endblock %}